{% extends 'base.html' %}

{% block content %}
    <h1 class="skeleton-heading">About Us</h1>
        <div class="p-4 justify-content-center">
            <p>
                Welcome to Best Cars dealership homepage to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </p>
            </br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore dolores fugiat id labore molestias optio pariatur perferendis<br>
                quam sit! Aut blanditiis explicabo perspiciatis quasi quis quos sint totam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing<br>
                elit. Assumenda beatae, deserunt dignissimos dolorem et excepturi facilis ipsa labore laboriosam laborum mollitia nemo nulla numquam <br>
                perferendis qui quis repudiandae sed soluta.
            </p>
            </br>
            <p><a style="color:black; font-weight: bold;" href="{% url 'djangoapp:contact' %}">Contact us</a></p>
    </div>    
{% endblock %}